.Rproj.user
.Rhistory
.RData
.Ruserdata
igoR.Rcheck/
igoR*.tar.gz
igoR*.tgz
Meta
CRAN-RELEASE
cran-comments.md
inst/doc
doc
/doc/
/Meta/
/docs/
.Rapp.history
*-Ex.R
/*.tar.gz
/*.Rcheck/
.Rproj.user/
vignettes/*.html
vignettes/*.pdf
.httr-oauth
*_cache/
/cache/
*.utf8.md
*.knit.md
.Renviron
docs/
dev
CRAN-SUBMISSION
.github/pkg.lock
.Rdata
Rplots.pdf
/.quarto/
**/*.quarto_ipynb
README_files/
README.html
